{% extends 'layout/base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="home-clip-path-1"></div>
<section id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Turn visitors into leads and customers into happy, engaged users</h1>
        <p>Modern products for sales, marketing and support to connect with customers and grow faster.</p>
        <a class="btn white">Get Started</a>
      </div>
      <div class="col-sm-6">

        <img src="{% static "/images/welcome.png" %}" alt="Welcome" class="welcome-img">
      </div>
    </div>
  </div>
</section>
<div style="height:1000px;"></div>
{% endblock %}
