<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#4285f4">
  <title>Sign into your account</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="login-clip-path-1 "></div>
  <nav id="navbar" class="nav-raised">
    <div class="container">
      <div class="nav-logo">
        <a href="/">
          <img src="/images/logo_white.png" alt="Logo">
        </a>
      </div>
      <ul class="nav-items">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/">Solutions</a></li>
        <li class="nav-item"><a href="/">Pricing</a></li>
        <li class="nav-item"><a href="/login.html">Login</a></li>
      </ul>
    </div>
    <div class="nav-item-space"></div>
  </nav>
  <div class="nav-space"></div>
  <section id="login_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-6">
          <div class="card raised">
            <div class="card-header">
              <h2 class="card-title">Sign into your account</h2>
              <p class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="card-body">
              <div class="input-group">
                <label for="email">Email</label>
                <div class="input-addon">
                  <input type="email" id="email" name="email" placeholder="Enter your email address">
                  <i class="addon typcn typcn-mail"></i>
                </div>
              </div>
              <div class="input-group">
                <label for="password">Password</label>
                <div class="input-addon">
                  <input type="password" id="password" name="password" placeholder="Enter your email address">
                  <i class="addon typcn typcn-key"></i>
                </div>
              </div>
              <div class="input-group">
                <button type="submit" class="btn primary">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="height:1000px;"></div>
  <script src="/js/app.js"></script>
</body>
</html>
