{% extends 'layout/base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="login-clip-path-1"></div>
<div class="nav-space"></div>
<section id="login_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-6">
        <div class="card raised">
          <div class="card-header">
            <h2 class="card-title">Sign into your account</h2>
            <p class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <label for="email">Email</label>
                  <div class="input-addon">
                    <input type="email" id="email" name="email" placeholder="Enter your email address">
                    <i class="addon typcn typcn-mail"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-group">
                  <label for="password">Password</label>
                  <div class="input-addon">
                    <input type="password" id="password" name="password" placeholder="Enter your email address">
                    <i class="addon typcn typcn-key"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-group">
                  <button type="submit" class="btn primary">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="height:1000px;"></div>
{% endblock %}
