.card {
  width: 100%;
  min-height: 30px;
  padding: 15px 15px 15px 20px;
  .card-header {
    margin: 20px 0px 20px 0px;
  }
  .card-title {
    color: #022144;
    margin: 5px 0px 5px 0px;
  }
  .card-subtitle {
    color: #697A89;
    margin: 5px 0px 5px 0px;
  }
}
.card.raised {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
