*,
*::before,
*::after {
  box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1 {
  font-size: 2.5em;
}
p {
  font-size: 1em;
}
a {
  color: #022144;
  text-decoration: none;
}
.rv {
  visibility: hidden;
}
.right {
  float: right;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
.hide{
  display:none;
}
.fullscreen {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1080;
}
.fullscreen .typcn {
  font-size:210px;
  color: #00a8ff;
}
